.style_tab {
    width: 100%;
    min-height: 100vh;
    margin: 15px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid rgb(235, 181, 232);
}

.style_td {
    margin: 0px;
    word-break: break-word;
}

.style_article {
    margin: 10px;
    padding: 4px;
}

.stylle_back {
    margin: 12px;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    font-weight: bold;
    background: rgb(83, 135, 75);
    border: 2px solid;
    outline: none;
    font-size: 20px;
}